@{
    ViewBag.Title = "Drafts";

    var projectRequestId = Model == null ? 0 : Model.Id;
}

@section title
{
    <title>My Projects</title>
}

@section meta
{

}

@section links
{
    <!--Page Related styles-->
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" />
}

@section headScripts
{

}

@section css
{

}

<div class="page-content animated fadeInDown">
    @*<!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>
                    Project request details
                </h1>
            </div>
        </div>
        <!-- /Page Header -->*@
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="widget flat with-jumbo-buttons">
                    <div class="widget-header bordered-bottom-dash bordered-darkwhite">
                        <h1 class="widget-caption" id="project-title">Edit 62 Multiple Change Requests (*Phase 1*)</h1>
                    </div><!--Widget Header-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <span class="label label-orange" id="project-status">pending manager approval</span> <span id="project-created-by">dellj</span> created this project <span id="project-creation-date">7/01/16</span>
                    </div>
                </div>
                <p>

                    @*<div class="buttons-preview">
                            <a class="btn btn-default btn-sm tooltip-warning icon-only" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-original-title="Reply"><i class="fa fa-envelope-o"></i></a>
                            <button class="btn btn-default"  data-original-title="<img src='assets/img/avatars/Sam-Flynn.jpg'>">With Image</button>
                            <button class="btn btn-danger tooltip-lg" data-toggle="tooltip" data-placement="top" data-original-title="Large Tooltip">Large Tip</button>
                        </div>*@
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="widget radius-bordered">
                    <div class="widget-header bg-mfcu">
                        <span class="widget-caption">Details</span>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="collapse"><i class="fa fa-minus"></i></a>
                        </div><!--Widget Buttons-->
                    </div><!--Widget Header-->
                    <div class="widget-body">
                        <h1 class="form-title">Benefit</h1>
                        <div id="project-benefit">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an un<span style="background-color: rgb(255, 255, 0);">known printe</span>r took a galley of type
                                and scrambled it to ma<span style="background-color: rgb(255, 255, 0);">ke a type specimen bo</span>ok. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                containi<span style="background-color: rgb(255, 0, 0);">ng Lorem I</span>psum passages, and more recently with desktop publishing software
                            </p>
                        </div>
                        <h1 class="form-title">Description</h1>
                        <div id="project-description">
                            <h3>Some heading</h3><p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an un<span style="background-color: rgb(255, 255, 0);">known printe</span>r took a galley of type
                                and scrambled it to ma<span style="background-color: rgb(255, 255, 0);">ke a type specimen bo</span>ok. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                containi<span style="background-color: rgb(255, 0, 0);">ng Lorem I</span>psum passages, and more recently with desktop publishing software
                            </p><ul><li>like Aldus PageMaker </li><li>including versions of</li><li> Lorem Ipsum.</li></ul><p><br></p><p>
                            </p><p><br></p><p>This is a video</p><p><iframe frameborder="0" src="//www.youtube.com/embed/juRtEEsHI9E" width="640" height="360" class="note-video-clip"></iframe></p><p>This is a table</p><p><br></p><table class="table table-bordered"><tbody><tr><td>one</td><td>two</td><td>three</td><td>four</td></tr><tr><td>five</td><td>654</td><td>654</td><td>654</td></tr><tr><td>654</td><td>654</td><td>654</td><td>654</td></tr><tr><td>654</td><td>654</td><td>654</td><td>654</td></tr></tbody></table><p><br></p>
                        </div>
                        <h1 class="form-title">Work In Progress Info</h1>
                        <div id="project-work-in-progress-info">
                            <h3>Some heading</h3><p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an un<span style="background-color: rgb(255, 255, 0);">known printe</span>r took a galley of type
                                and scrambled it to ma<span style="background-color: rgb(255, 255, 0);">ke a type specimen bo</span>ok. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                containi<span style="background-color: rgb(255, 0, 0);">ng Lorem I</span>psum passages, and more recently with desktop publishing software
                            </p>
                        </div>
                        <h1 class="form-title">Additional Comments</h1>
                        <div id="project-additional-comments">
                            <h3>Some heading</h3><p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an un<span style="background-color: rgb(255, 255, 0);">known printe</span>r took a galley of type
                                and scrambled it to ma<span style="background-color: rgb(255, 255, 0);">ke a type specimen bo</span>ok. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                containi<span style="background-color: rgb(255, 0, 0);">ng Lorem I</span>psum passages, and more recently with desktop publishing software
                            </p>
                        </div>
                    </div>
                    <!--Widget Body-->
                </div>
            </div>
            <div class="col-lg-2 col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header bg-mfcu">
                                <span class="widget-caption">General Information</span>
                                <div class="widget-buttons">
                                    <a href="#" data-toggle="collapse"><i class="fa fa-minus"></i></a>
                                </div><!--Widget Buttons-->
                            </div><!--Widget Header-->
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list">
                                        @*<li class="dd-item dd2-item dd-colored">
                                                <div class="dd-handle dd2-handle bg-orange">
                                                    <i class="normal-icon fa fa-spinner"></i>
                                                    <i class="drag-icon fa fa-arrows-alt "></i>
                                                </div>
                                                <div class="dd2-content bg-orange no-hover">Pending Approval</div>
                                            </li>*@
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon glyphicon glyphicon-user"></i>
                                            </div>
                                            <div class="dd2-content">Requested by <span id="project-requested-by">johnk</span></div>
                                        </li>
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon fa fa-calendar"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content">Delivered <span id="project-delivered-by">01/01/16</span></div>
                                        </li>
                                        <li class="dd-item dd2-item" data-id="17">
                                            <div class="dd-handle dd2-handle bg-orange">
                                                <i class="normal-icon glyphicon glyphicon-time"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content no-hover" id="project-has-critical-deadline">has critical deadline</div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <!--Widget Body-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header bg-mfcu">
                                <span class="widget-caption">Contacts</span>
                                <div class="widget-buttons">
                                    <a href="#" data-toggle="collapse"><i class="fa fa-minus"></i></a>
                                </div><!--Widget Buttons-->
                            </div><!--Widget Header-->
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list" id="project-contacts">
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon glyphicon glyphicon-user"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content">dellj</div>
                                        </li>
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon glyphicon glyphicon-user"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content">kaint</div>
                                        </li>
                                    </ol>
                                </div>
                            </div><!--Widget Body-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header bg-mfcu">
                                <span class="widget-caption">Collaborators</span>
                                <div class="widget-buttons">
                                    <a href="#" data-toggle="collapse"><i class="fa fa-minus"></i></a>
                                </div><!--Widget Buttons-->
                            </div><!--Widget Header-->
                            <div class="widget-body">
                                <div class="dd">
                                    <ol class="dd-list" id="project-work-in-progress-contacts">
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon glyphicon glyphicon-user"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content">johnw</div>
                                        </li>
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon glyphicon glyphicon-user"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content">leslieo</div>
                                        </li>
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon glyphicon glyphicon-user"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content">adamt</div>
                                        </li>
                                        <li class="dd-item dd2-item">
                                            <div class="dd-handle dd2-handle bg-redmondblue">
                                                <i class="normal-icon glyphicon glyphicon-user"></i>
                                                <i class="drag-icon fa fa-arrows-alt "></i>
                                            </div>
                                            <div class="dd2-content">carlox</div>
                                        </li>
                                    </ol>
                                </div>
                            </div><!--Widget Body-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="background:white">
                <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                    <span class="input-icon icon-right">
                        <textarea rows="2" class="form-control" placeholder="Post a new message"></textarea>
                        <i class="fa fa-comment themeprimary"></i>
                    </span>
                    <div class="padding-top-10 text-align-right">
                        <a class="btn btn-sm btn-success">
                            Post
                        </a>
                    </div>
                </form>
                <div>
                    <div class="comment">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">kerryu</a><span>today at 10:00PM</span>
                                </div>
                                I updated the description and attached a couple more documents. Hopefully this is enough information
                            </div>
                            <div class="comment-footer">
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">system</a><span>today at 8:00PM</span>
                                </div>
                                Manager requested more information
                            </div>
                            <div class="comment-footer">
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">adamt</a><span>today at 7:35PM</span>
                                </div>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                            </div>
                            <div class="comment-footer">
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">dellj</a><span>today at 7:35PM</span>
                                </div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                            <div class="comment-footer">
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">adamt</a><span>7/01/16 at 7:35PM</span>
                                </div>
                                Please process this request quickly
                            </div>
                            <div class="comment-footer">
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-body">
                            <div class="comment-text">
                                <div class="comment-header">
                                    <a href="#" title="">system</a><span>6/25/16 at 7:00AM</span>
                                </div>
                                Project created
                            </div>
                            <div class="comment-footer">
                                <a href="#"><i class="fa fa-edit"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="orders-container">
                    <div class="orders-header">
                        <h6>Attachments</h6>
                    </div>
                    <ul class="orders-list">
                        <li class="order-item" id="project-attachments">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="item-booker">asfjalsfj aslkfj alskfj aslkj sladjf alsdjkf laskjfl kasjlkja sdf</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>10 minutes ago</span>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only danger"><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-download"></i></button>
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="item-booker">asfjalsfj aslkfj alskfj aslkj sladjf alsdjkf laskjfl kasjlkja sdf</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>10 minutes ago</span>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only danger"><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-download"></i></button>
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="item-booker">asfjalsfj aslkfj alskfj aslkj sladjf alsdjkf laskjfl kasjlkja sdf</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>10 minutes ago</span>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only danger"><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-download"></i></button>
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="item-booker">asfjalsfj aslkfj alskfj aslkj sladjf alsdjkf laskjfl kasjlkja sdf</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>10 minutes ago</span>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only danger"><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-download"></i></button>
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="item-booker">asfjalsfj aslkfj alskfj aslkj sladjf alsdjkf laskjfl kasjlkja sdf</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>10 minutes ago</span>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only danger"><i class="fa fa-times"></i></button>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-xs btn-default icon-only"><i class="fa fa-download"></i></button>
                                            -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="orders-footer">
                        <a class="show-all" href="#"><i class="fa fa-angle-down"></i> 5 documents</a>
                        <div class="help">
                            <a href="#"><i class="fa fa-upload success"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Body -->
</div>

@section bodyScripts
{
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
    <script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.full.js"></script>

    <script src="~/assets/js/project.api.js"></script>
}

@section jscode
{
    <script>
        var MainViewModel = function(){
            var self = this;

            self.init = function () {
                console.log({
                    msg: 'id pulled from razor',
                    data: {
                        projectRequestId: @projectRequestId,
                    }
                });
            }
        }

        var mvm = new MainViewModel();

        mvm.init();
    </script>
}

