@{
    ViewBag.Title = "Index";
}

@section title
{
    <title>My Projects</title>
}

@section meta
{

}

@section links
{

}

@section headScripts
{

}
@section css
{

}

@section bodyScripts
{

}

@section jscode
{
    <script>
    </script>
}